<ion-view>

<ion-side-menus>
		<ion-header-bar class="bar-light">
	<img style="width:5%;" src="img/latest.png"></img>
	<img style="width:94%;" src="img/sevenelevenbanner.png"></img>
	<img style="width:7%;" src="img/user.png"></img>
	
	 <div class="buttons">
       <ion-nav-back-button class="button-clear icon ion-ios7-arrow-back"></ion-nav-back-button>
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
     
      </div>
	</ion-header-bar>	
	<ion-side-menu-content>

	
    <!-- main view name -->
    <ion-nav-view name="mainContent" animation="slide-left-right"></ion-nav-view>




	</ion-side-menu-content>
	
	<ion-side-menu expose-aside-when="(min-width:100px) and (max-width:1200px)" >

	 <ion-content>

		<ion-list>
			
			<ion-item style="background-color:#41ad57;" >
			<img src="img/home.png" ui-sref="app.dashboard" ></img>
			<br /><span style="color:white; text-align:justify; ">Dashboard</span></ion-item>
			<ion-item style="background-color:#41ad57;">
			<img src="img/ordering.png" style="" ui-sref="app.ordering" ></img><br /><span style="color:white; text-align:justify; ">Ordering</span></ion-item>
			<ion-item style="background-color:#41ad57;" >
			<img src="img/productassortment.png" style="" ui-sref="app.locations" ></img><br /><span style="color:white; text-align:justify; ">Product Assortment</span></ion-item>
			<ion-item style="background-color:#41ad57;" ><img src="img/cash.png" style="" ui-sref="app.rules" ></img><br /><span style="color:white; text-align:justify; ">Cash Management</span></ion-item>
			<ion-item style="background-color:#41ad57;" ><img src="img/gas.png" style="" href="#"></img><br /><span style="color:white; text-align:justify; ">Gasoline Management</span>
			</ion-item>
     <ion-item style="background-color:#41ad57;"><img src="img/inventory.png" style="" href="#"></img><br /><span style="color:white; text-align:justify; ">Inventory Management</span>
        </ion-item>
		</ion-list>
		</ion-content>
	</ion-side-menu>
	  
</ion-side-menus>

</ion-view>
