/* Empty. Add your own CSS if you like */
/* Empty. Add your own CSS if you like */
@media (min-width: 767px) {
  .menu-content {
    -webkit-transform: translate3d(220px, 0px, 0px) !important;
    width: calc(100% - 220px) !important;
  } 
  

.image-list-thumb {
    padding: 2px 2px 2px 2px;
    height: 100px;
}
 
.image-modal {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
}
 
.transparent {
    background: transparent !important;
}
 
.fullscreen-image {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
}
 
.seiispimage img.wide {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}
.seiispimage img.tall {
    max-height: 100%;
    max-width: 100%;
    width: auto;
}​

 .item
 {
	background-color:#41ad57;
 
 
 }
